*{
    box-sizing: border-box;
}

body{
    background-image: url(../img/fondo.jpg);
}

header{
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 60px;
    border: white solid 1.5px;
}

.logo{
    width: 8%;
    margin-left: 10px;
}

.logo img{
    width: 100%;
}

.botton{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    width: 30%;
    height: 30px;
    margin-left: 20px;
    background-color: white;
    border: black solid 1px;
}
    
.formh{
    display: flex;
    flex: wrap;
    flex-direction: row;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    width: 100%;
    align-items: center;
}

.formh label{
    margin-left: 20px;
}

.inputuno{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    height: 30px;
}

.formheader{
    width: 20%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.menudenav{
    width: 35%;
    margin-right: 80px;
}

p{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.listanav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.listanav a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    background-color: rgba(236, 228, 236, 0.504);
    border-radius: 50px;
    border: white solid 1.5px; 
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.htres{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 30px;
    font-size: 35px;
    text-shadow: 
      -2px -2px 0 white, 
      2px -2px 0 white, 
      -2px 2px 0 white, 
      2px 2px 0 white;
      font-family: "Oswald", sans-serif;
      font-weight: 700;
}

.rueda{
    text-align: center;
}

.linkdetail{
    color: black;
    text-decoration: none;
    width: 20%;
    margin-left: 35px;
    margin-top: 10px;
}

.linkdetailgeneros{
    text-decoration: none;
    color: black;
}

.seccionuno{
    width: 100%;
    background-color: rgba(236, 228, 236, 0.504);
    border-radius: 60px;
    border: white solid 1.5px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.secciondos{
    width: 100%;
    background-color: rgba(236, 228, 236, 0.504);
    border-radius: 60px;
    border: white solid 1.5px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 450px;
}

.secciontres{
    width: 100%;
    background-color: rgba(236, 228, 236, 0.504);
    border-radius: 60px;
    border: white solid 1.5px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 450px;
}


.textseccion{
    font-size: 20px;
    color: black;
    text-decoration: none;
    width: 85%;
    text-align: center;
    margin-bottom: 0px;
}

.peliculas{
    margin-top: 10px;
    height: 400px;
}
.nuevo{
    width: 100%;
}
.nuevo2{
        display: flex;
        flex-wrap: wrap;
    }

.mainsearch{
    height: unset;
}

.imgpelis{
    width: 85%;
    height: 300px;
}

.contultimo{
    margin-bottom: 40px;
}

footer{
margin-top: 20px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: antiquewhite;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 60px;
    border: white solid 1.5px;
    margin-top: 10px;
}

.footer p{
    font-size: 19.5px;
}

.fecha{
    margin-top: 0px;
}

.peliculasmovie{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(236, 228, 236, 0.504);
    border-radius: 60px;
    border: white solid 1.5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fotouno{
    width: 80%;
    height: 350px;
    margin-left: 40px;
}

.partesmovie{
    margin-top: 20px;
    margin-bottom: 20px;
}

.cajauno{
    width: 20%;
}

.cajados h3{
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.cajados p{
    font-size: 25px;
}

.cajados{
    margin: 0px;
    width: 15%;
}

.cajatres p{
    font-size: 25px;
    text-decoration: none;
}

.cajatres a{
    text-decoration: none;
    color: black;
}

.cajatres{
    width: 15%;
    margin-top: 155px;
}

.cajacuatro p{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 30px;
}

.cajacuatro{
    width: 45%;
}

.cajatresseries{
    margin-top: 80px;
}


/*css moviegeneres y seriesgeneres*/
.cajageneros{
    background-color: rgba(236, 228, 236, 0.504);
    border-radius: 60px;
    border: white solid 1.5px;
    height: 380px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.titulogeneros{
    text-align: center;
    font-size: 35px;
    text-shadow: 
      -2px -2px 0 white, 
      2px -2px 0 white, 
      -2px 2px 0 white, 
      2px 2px 0 white;
      font-family: "Oswald", sans-serif;
      font-weight: 700;
}
.contenedorageneros{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
}
.cajasgeneros{
    background-color: rgba(236, 228, 236, 0.99);
    border-radius: 60px;
    border: white solid 1.5px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-align: center;
}
.linkgeneres{
    color: black;
    text-decoration: none;
}

/*css detail-generes*/
.titulodrama{
    text-align: center;
    font-size: 35px;
    text-shadow: 
      -2px -2px 0 white, 
      2px -2px 0 white, 
      -2px 2px 0 white, 
      2px 2px 0 white;
      font-family: "Oswald", sans-serif;
      font-weight: 700;
}
.contenedoragenerosdetail{
    width: 100%;
    background-color: rgba(236, 228, 236, 0.504);
    border-radius: 60px;
    border: white solid 1.5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cajadrama{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    margin-left: 60px;
}
.peliculasdrama{
    width: 20%;
    margin-top: 10px;
    height: 400px;
}
.imgdrama{
    width: 70%;
    height: 300px;
}
.textdrama{
    font-size: 20px;
    color: black;
    text-decoration: none;
    width: 70%;
    text-align: center;
}
.negrita{
    font-weight: bold;
}

/*css login y reg*/

.mainlogin{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 600px;
    align-items: center;
    background-color: rgba(236, 228, 236, 0.504);
    border-radius: 60px;
    border: white solid 1.5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 14.5%;
}

.mainreg{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 600px;
    align-items: center;
    background-color: rgba(236, 228, 236, 0.504);
    border-radius: 60px;
    border: white solid 1.5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 13%;
}

.divsreg a{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 20px;
}

.divsreg input{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 20px;
    margin-top: 10px;
}

.divsreg button{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 20px;
    margin-left: 85px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divsregch{
    margin-top: 10px;
}

.divsregch label{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 20px;
}

/*css de search results*/
.contenedorresults{
    width: 100%;
    background-color: rgba(236, 228, 236, 0.504);
    border-radius: 60px;
    border: white solid 1.5px;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.formheaderdos{
    display: none;
}


@media (max-width: 450px){

    body{
        width: 100vw;
        margin: 0px;
    }

    main{
        width: 100vw;
        padding-left: 5%;
        padding-right: 5%;
    }

    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgba(255, 255, 255, 0);
        justify-content: center;
        border: none;
        width: 100vw;
    }

    .formheader{
        display: none;
    }

    .formheaderdos{
        display: block;
        margin-top: 10px;
        width: 40%;
    }

    .formheaderdos input{
        width: 100%;
        height: 40px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
    }

    .logo{
        width: 100vw;
        margin-top: 10px;
    }

    .logo img{
        width: 25%;
        margin-left: 160px;
    }

    .menudenav{
        width: 450px;
        margin: 0px;
    }

    .listanav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        height: 230px;
        margin: 0px;
        padding: 0px;
    }

    .navegacion{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .htres{
        margin-bottom: 0px;
        margin-top: 30px;
        font-size: 35px;
        text-align: center;
    }

    .mainindex{
        width: 100vw;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .seccionuno{
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 2100px;
        padding-top: 5%;
    }

    .imgpelis{
        width: 100%;
    }

    .textseccion{
        width: 100%;
    }

    .linkdetail{
        align-items: center;
        justify-content: center;
        margin: 0px;
        width: 49%;
    }

    .peliculas{
        width: 100%;
        margin: 0px;
    }

    .divsreg a{
        font-size: 13px;
    }
    
    .divsreg input{
        font-size: 13px;
        margin-top: 10px;
    }
    
    .divsreg button{
        font-size: 13px;
        margin-left: 55px;
    }
    
    .divsregch label{
        font-size: 13px;
    }

    .mainlogin{
        padding-top: 55%;  
    }
    
    .mainreg{
        padding-top: 50%;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        background-color: rgba(236, 228, 236, 0.504);
    }

    footer{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .cajadrama{
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 2100px;
        padding-top: 5%;
        width: 49%;
        margin-left: 100px;
        padding-bottom: 7%;
    }

    .textdrama{
        width: 100%;
    }

    .peliculasdrama{
        width: 100%;
        margin: 0px;
    }

    .peliculasmovie{
     flex-direction: column;
     padding-left: 5%; 
     padding-right: 5%;
     padding-top: 5%; 
    }

    .partesmovie{
        width: 100%;
    }

    .partesmovie h3{
        text-align: center;
    }

    .cajauno{
        margin-bottom: 0px;
    }

    .cajatres{
        margin-top: 0px;
    }

    .cajados p{
        margin-bottom: 0px;
    }

    .cajacuatro{
        margin-top: 0px;
    }
}