*{
    box-sizing: border-box;
}

body{
    background-image: url(../img/fondo.jpg);
}

header{
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 60px;
    border: white solid 1.5px;
}

.logo{
    width: 8%;
    margin-left: 10px;
}

.logo img{
    width: 100%;
}

.formheader{
    width: 30%;
    margin-left: 30px;
}
.formheader input{
    width: 100%;
    height: 40px;
}

.menudenav{
    width: 40%;
    margin-right: 80px;
}

.listanav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.listanav a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.htres{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 50px;
    font-size: 30px;
}

.contenedorgrande{
    width: 100%;
    background-color: rgba(236, 228, 236, 0.504);
}

.seccionuno{
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.textseccion{
    font-size: 25px;
}


.peliculas{
    width: 20%;
    margin-top: 20px;
}

.imgpelis{
    width: 70%;
    height: 300px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: antiquewhite;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 60px;
    border: white solid 1.5px;
}

.footer p{
    font-size: 19.5px;
}
